.b-footer {
	background-color: #1f4d91;
	padding: 50px 0;
	color: #fff;
	min-width: 1170px;
}

.b-footer__logo {
	margin-bottom: 15px;
	display: inline-block;
}

.b-footer__menu {
	width: 230px;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	margin-right: 10px;
}

.b-footer__menu-item {
	margin-bottom: 8px;
}

.b-footer__menu-link {
	color: #fff;

	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

.b-footer__phone-text {
	color: #fff;
	font-weight: 300;
	font-size: 13px;
	margin-bottom: 0;
	line-height: 1;
	margin-top: 40px;
}

.b-footer__phone {
	font-weight: bold;
	font-size: 26px;
}