.b-schedule {

}

.b-schedule__title {
	font-size: 16px;
	color: #113561;
	text-transform: uppercase;
	line-height: 63px;
	margin-bottom: 0;
}

.b-schedule__item {
	margin-bottom: 35px;
}

.b-schedule__item-header {
	padding: 12px 20px 16px;
	border: 1px solid #ced6eb;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #fff;
}

.b-schedule__item-title {
	font-weight: bold;
	font-size: 25px;
	color: #113561;
}

.b-schedule__item-restriction {
	display: inline-block;
	font-weight: bold;
	font-size: .8em;
	color: #fff;
	width: 28px;
	height: 28px;
	background-color: #ed263a;
	border-radius: 50%;
	line-height: 28px;
	padding-left: 4px;
	position: relative;
	top: -2px;
	margin-left: 20px;
}

.b-schedule__item-length {
	color: #6c6b6b;
	display: inline-block;
	background: left center no-repeat url("../img/length-icon.png");
	padding-left: 19px;
	margin-left: 20px;
}

.b-schedule__item-description {
	display: block;
	margin-top: 6px;
	color: #707070;
}

.b-schedule__item-content {
	background-color: #f6f8fb;
	padding: 25px 25px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.b-schedule__item-image {
	border-radius: 3px;
	border-color: #cfd6e7;
	border-style: solid;
	border-width: 5px 7px;
	display: inline-block;
}

/* TABLE */
.b-schedule__table {
	vertical-align: middle;
	margin-bottom: 35px;

	/* Common cells */
	thead > tr > th,
	thead > tr > td,
	tbody > tr > td {
		padding: 8px 0;
		width: 43px;
		height: 40px;
		border-top: 1px solid #c2cae4;
		border-bottom: 1px solid #c2cae4;
	}

	/* Header */
	thead > tr > th {
		font-size: 15px;
		color: #637097;
		font-weight: normal;

		&:first-child {
			color: #113561 !important;
			font-weight: 700 !important;
		}
	}

	thead {

	}

	/* Only first cell of each line */
	thead > tr > th:first-child,
	thead > tr > td:first-child,
	tbody > tr > td:first-child {
		text-align: right;
		font-weight: bold;
		color: #ed263a;
		//		padding-right: 35px;
		width: 150px;
		border: none;
		padding: 12px 35px 4px 0;
	}

	/* Background */
	tbody > tr > td:nth-child(even) {
		background-color: darken(#f6f8fb, 5%);
	}
	tbody > tr > td:nth-child(odd) {
		background-color: #f6f8fb;
	}
}

.b-schedule__table-item-container {
	position: relative;
}

.b-schedule__table-item {
	height: 26px;
	line-height: 26px;
	background-color: #71aef4;
	border-radius: 12px;
	cursor: pointer;

	font-weight: bold;
	font-size: 15px;
	color: #ffffff !important;
	outline: none !important;

	padding: 0 10px;

	position: absolute;
	top: -2px;
	left: 0;
}

.b-schedule__table-item_muted {
	background-color: #c8ced7;
}

/* Popovers */
.b-schedule__popover {
	width: 270px;
	position: relative;
}

.b-schedule__popover-image {
	float: left;
}

.b-schedule__popover-title {
	margin-left: 130px;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.b-schedule__popover-description {
	margin-left: 130px;
	font-size: 13px;
	color: #77879e;
	margin-bottom: 0;
	line-height: 1.2;
}

.b-schedule__popover-button {
	margin-left: 130px;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 15px;
	line-height: 34px;
	display: inline-block;
	background: #1e6fd5;
	padding-left: 24px;
	padding-right: 24px;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	&:hover, &:active, &:focus {
		color: #fff;
	}
}