.b-navbar {
	margin-bottom: 0;
	min-width: 1170px;
}

/* Card balance block */
.b-navbar-card-balance {
	display: inline-block;
	font-family: @font-family-roboto;
	color: #71b4ff;
	line-height: @navbar-height;

	padding-left: 32px;
	margin-right: 20px;
	background: left center no-repeat url("../img/icon-coin.png");
}

.b-navbar-card-balance__card-name {
	font-family: @font-family-roboto;
}

/* Login button */
.b-navbar__login-btn {
	line-height: 19px;
	color: #fff;
	background: #276cbb 20px center no-repeat url("../img/login-icon.png");
	padding-left: 43px;
	padding-right: 25px;
	border-radius: 13px;
	display: inline-block;
	margin-top: -3px;
	margin-right: 10px;

	&:hover {
		color: #fff;

		& > .b-navbar__login-btn-text {
			border-bottom: none;
		}
	}

	&:active, &:focus {
		box-shadow: none;
		background: #276cbb 20px center no-repeat url("../img/login-icon.png");
		color: #fff;
	}
}

.b-navbar__login-btn-text {
	border-bottom: 1px solid #ffffff;
}

/* Registration link */
.b-navbar__registration-link {
	text-decoration: underline;
	display: inline-block;
	margin-right: 10px;
}

.b-navbar__question-link {
	width: 21px;
	height: 21px;
	display: inline-block;
	background: left top no-repeat url("../img/question-icon.png");
	position: relative;
	top: 6px;
}