.b-movie-info {
	margin: 35px 0;
	background: #337ed3;
}

.b-movie-info__trailer {
	position: relative;
}

.b-movie-info__trailer-content {
	cursor: pointer;

	&:after {
		position: absolute;
		top: 35%;
		left: 50%;
		width: 107px;
		height: 107px;
		margin-left: -107/2px;

		background: left top no-repeat url("../img/play-button.png");
		content: "";
	}
}

.b-movie-info__trailer-background {

}

.b-movie-info__trailer-trailer {
	display: none;
}

.b-movie-info__content {
	color: #fff;
	margin-left: -@grid-gutter-width;
	background: left top no-repeat url("../img/movie-info-bg.png");
	padding: 20px 15px 20px 30px;
}

.b-movie-info__title {
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 0;
	line-height: 1.5;
}

.b-movie-info__description {
	margin-bottom: 18px;
}

.b-movie-info__length {
	padding-left: 21px;
	background: left center no-repeat url("../img/length-icon-white.png");
	font-size: 12px;
}

.b-movie-info__restriction {
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	line-height: 28px;
	padding-left: 3px;
	margin-left: 15px;
}

.b-movie-info__text {
	margin-top: 24px;
	font-weight: 300;

	strong, b {
		font-weight: 500;
	}

	p {
		margin-bottom: 12px;
	}
}