.b-news-previews {
	margin: 40px -15px;
}

.b-news-previews__title {
	font-family: @font-family-proxima-nova-bold;
	font-size: 25px;
	color: #4895ed;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.b-news-previews__list {

}

.b-news-previews__item {
	float: left;
	width: 285px;
	height: 476px;
	margin-right: 10px;
	margin-bottom: 10px;

	background-color: #f8f9fb;
	border-radius: 7px;
	padding: 18px;

	&:last-child {
		margin-right: 0;
	}
}

.b-news-previews__item-image {
	border-radius: 7px 7px 0 0;
	margin-top: -18px;
	margin-left: -18px;
	margin-right: -18px;
	margin-bottom: 14px;
	max-width: 285px;
}

.b-news-previews__item-date {
	color: #f00038;
	font-size: 12px;
	margin-bottom: 4px;
}

.b-news-previews__item-title {
	display: inline-block;
	font-weight: bold;
	color: #1f419b;
	font-size: 18px;
	margin-bottom: 10px;
}

.b-news-previews__item-description {
	color: #676767;
	line-height: 20px;
	margin-bottom: 0;
	max-height: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.b-news-previews__more {
	background: right center no-repeat url("../img/news-previews-more-arrow.png");
	padding-right: 24px;
	display: inline-block;

	margin-top: 10px;
	font-size: 16px;
	color: #2861f8;
	line-height: 20px;

	&:hover, &:active, &:focus {
		color: #2861f8;

		& > span {
			border-bottom: none;
		}
	}

	& > span {
		border-bottom: 1px solid #2861f8;
	}
}