.b-schedule-filter {
	background-color: #e7ebf7;
	padding: 12px 0;
}

.b-schedule-filter__button {
	font-size: 17px;
	line-height: 62px;
	padding-left: 23px;
	padding-right: 23px;
	border-radius: 10px;
	background-color: #e7ebf7 !important;
	border-color: #a4afd1 !important;

	.caret {
		position: relative;
		margin-left: 12px;

		&:after {
			position: absolute;
			top: -12px;
			left: -9px;
			border: 1px solid #0f1c3f;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			content: '';
		}
	}
}

.b-schedule-filter__button-dropdown {
	font-size: 17px;
	left: 0;
	width: 100%;
	margin-top: -22px;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: none;

	li {
		& > a {
			line-height: 38px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

.b-schedule-filter__day-filter {
	margin-left: 25px;
}

.b-schedule-filter__day-filter-item {
	float: left;
	display: inline-block;
	text-align: center;
	border-left: 1px solid #c5cee3;
	border-right: 1px solid #c5cee3;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 20px;
	margin-left: -1px;
	z-index: 10;

	&:first-child {
		border-left: 0;
	}

	&:last-child {
		border-right: 0;
	}
}

.b-schedule-filter__day-filter-item_active {
	background-color: #f9fafd;
	border-radius: 8px;
	border: none;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0;
	margin-left: -2px;
	margin-right: -2px;
	z-index: 11;
	position: relative;

	.b-schedule-filter__day-filter-item-title {
		color: #0a173b;
		font-size: 1.87em;

	}

	.b-schedule-filter__day-filter-item-description {
		color: #0a173b;
		font-size: 1.2em;

	}
}

.b-schedule-filter__day-filter-item-title {
	color: #a4afd1;
	font-weight: bold;
	font-size: 17px;
	line-height: 1;
	margin-bottom: 0;
}

.b-schedule-filter__day-filter-item-description {
	color: #a4afd1;
	font-size: 14px;
	margin-bottom: 0;
	line-height: 1;
	margin-top: 3px;
}