.b-splasher {
	height: 1113px;
	position: relative;
	padding-top: 80px;
}

.b-splasher__background {
	position: absolute;
	top: 0;
	left: 0;
	height: 930px;
	width: 100%;
	min-width: 1170px;
	background: rgb(17, 65, 129);
	overflow: hidden;

//	&:after {
//		position: absolute;
//		top: 0;
//		left: 0;
//		width: 100%;
//		height: 100%;
//		background: rgba(17, 65, 129, 0.55);
//		content: '';
//	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-image: linear-gradient(to top, rgba(23, 70, 133, .8) 0%, rgba(23, 70, 133, 0) 100%);
	}
}

.b-splasher__background-image {
	min-width: 100%;
	min-height: 100%;
}

.b-splasher__inner {
	position: relative;
	margin: 0 auto;
	width: 1170px;
}

.b-splasher__tabs {
	width: 100%;

	background: #1966bd;
	padding-top: 15px;
	padding-left: 45px;
	padding-right: 45px;
	text-transform: uppercase;

	& > li {
		margin-bottom: 0;

		& > a, & > a:hover, & > a:active, & > a:focus {
			border-color: #1c6dc8;
			border-radius: 10px 10px 0 0;
			font-family: @font-family-proxima-nova-bold;
			font-size: 15px;
			padding: 13px 40px;
			color: #69adfa;
			background-color: #1c6dc8;
		}

		&.active {
			& > a,
			& > a:active,
			& > a:focus,
			& > a:hover {
				color: #fff;
				border-color: #337ed3;
				background-color: #337ed3;
			}
		}

	}
}

.b-splasher__tab-content {
	background-color: #337ed3;
	padding: 18px 0 14px;
}

.b-splasher__films {

}

.b-splasher__film {
	float: left;
	width: 164px;
	height: 290px;
	margin-right: 19px;

	&:last-child {
		margin-right: 0;
	}
}

.b-splasher__film-image {
	box-shadow: 0 2px 10px rgba(0, 0, 0, .65);
	margin-bottom: 10px;
	cursor: pointer;
}

.b-splasher__film-title {
	font-size: 16px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	margin-bottom: 0;
}

.b-splasher__film-link {
	color: #00346e;
	text-decoration: underline;

	&:hover {
		color: #00346e;
	}
}

.b-splasher__films-carousel {
	.carousel-control {
		width: 40px;
		height: 40px;
		top: 50%;
		margin-top: -34px;
		opacity: 1;

		&.left {
			left: -20px;
			background: left top no-repeat url("../img/arrow-left.png");
		}
		&.right {
			right: -20px;
			background: left top no-repeat url("../img/arrow-right.png");
		}
	}

	.carousel-inner {
		width: auto;
		display: block;
		margin: 0 35px 0 35px;
		padding-left: 10px;
	}
}