.b-header-menu {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 0;
	margin-top: 14px;
}

.b-header-menu__item {
	display: inline-block;
	height: 32px;

	padding: 3px 20px;
	border-right: 1px solid #b6c9e3;

	&:last-child {
		border-right: none;
	}
}

.b-header-menu__item-link {
	font-weight: 500;
	color: #000;
	font-size: 18px;

	&:hover {
		color: #000;
		text-decoration: underline;
	}
}
