body {
	min-width: 1170px;
}

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
	width: 1170px;
	max-width: none !important;
}

/* Always float the navbar header */
.navbar-header {
	float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	visibility: visible !important;
}

.navbar-toggle {
	display: none;
}

.navbar-collapse {
	border-top: 0;
}

.navbar-brand {
	margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
	float: left;
	margin: 0;
}

.navbar-nav > li {
	float: left;
}

.navbar-nav > li > a {
	padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
	float: right;
}

/* Universal g-mt10, g-mb10 classes */
@iterations: 6;

.margin-top-loop (@i) when (@i > 0) {
	.g-mt@{i}0 {
		margin-top: @i * 10px !important;
	}

	.margin-top-loop(@i - 1);
}

.margin-top-loop(@iterations);

.margin-bottom-loop (@i) when (@i > 0) {
	.g-mb@{i}0 {
		margin-bottom: @i * 10px !important;
	}

	.margin-bottom-loop(@i - 1);
}

.margin-bottom-loop(@iterations);

.popover {
	border: 0;
	box-shadow: none;
	color: #fff;
}

.g-body_dark {
	background-color: #e3eeff;
}

.pagination {
	& > li {
		margin-left: 4px;
		margin-right: 4px;

		& > a {
			border: none;
			background-color: transparent;
			color: #1c2e60;
			padding-left: 4px;
			padding-right: 4px;
			padding-top: 2px;
			padding-bottom: 2px;
			font-size: 18px;
			margin-right: 6px;
			border-radius: 8px;

			&:hover, &:focus {
				background-color: transparent;
				color: #1c2e60;
			}
		}

		&.active {
			& > a {
				background-color: #1c2e60;
				color: #fff;
			}
		}
	}
}