.b-trailers {
	width: 1170px;
	height: 636px;
	overflow: hidden;
	border-bottom: 5px solid #ed263a;
	color: #fff;
}

.b-trailers__item {
	width: 1170px;
	height: 636px;
	position: relative;
}

.b-trailers__item-content {
	cursor: pointer;

	&:after {
		position: absolute;
		top: 35%;
		left: 50%;
		width: 107px;
		height: 107px;
		margin-left: -107/2px;

		background: left top no-repeat url("../img/play-button.png");
		content: "";
	}
}

.b-trailers__item-background {
	position: absolute;
	top: 0;
	left: 0;
}

.b-trailers__item-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;

	padding: 80px 60px 40px 70px;
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .2) 10%, rgba(0, 0, 0, .4) 20%, #000 100%);
}

.b-trailers__item-title {
	font-family: @font-family-proxima-nova-bold;
	font-size: 38px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.b-trailers__item-description {
	font-size: 20px;
	font-weight: 300;
}

.b-trailers__item-button {
	border: 2px solid #ffc121;
	background: 33px center no-repeat url("../img/tickets-icon.png");
	border-radius: 33px;
	color: #fff;
	padding-left: 86px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;

	transition: background-color 0.2s ease;

	&:hover, &:active, &:focus {
		color: #fff;

		background: rgba(255, 193, 33, .7) 33px center no-repeat url("../img/tickets-icon.png");
	}
}

.b-trailers__item-button-text-1 {
	font-size: 18px;
	display: block;
}

.b-trailers__item-button-text-2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	display: block;
}

.b-trailers__item-18-plus {
	font-size: 18px;
	width: 47px;
	height: 47px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: inline-block;
	line-height: 45px;
	padding-left: 6px;
	margin-right: 30px;
	position: relative;
	top: -14px;
}

.b-trailers__item-trailer {
	display: none;
}