.b-form {
	.help-block {
		color: #a3a3a3;
		margin-left: 18px;
	}

	label, .control-label {
		color: #1c2e60;
		font-size: 16px;
		font-weight: 400;
	}
}

.help-block.error {
	color: #ff0000 !important;
	text-align: right;
	margin-right: 18px;
}

.has-error {
	.form-control {
		box-shadow: none !important;
	}

	.control-label {
		color: #000;
	}

	.help-block {
		display: none;

		&.error {
			display: block;
		}
	}
}

.form-control {
	border-color: #c8d0dc;
	font-weight: 500;
	font-size: 16px;
	color: #1c2e60;
	box-shadow: none;

	&:focus {
		background-color: #e3eeff;
		border-width: 3px;
		box-shadow: none;
		padding-left: 10px;
	}
}

textarea.form-control {
	font-size: 14px;
	font-weight: normal;
	resize: vertical;

	&:focus {
		padding-top: 4px;
	}
}

input[type="radio"] {
	display: none;

	& + label {
		display: inline-block;
		cursor: pointer;
		color: #1c2e60;
		font-weight: 500;
		font-size: 18px;

		padding: 2px 0 2px 34px;
		line-height: 22px;
		margin-top: 8px;
		margin-bottom: 20px;
		position: relative;

		&:before {
			position: absolute;
			top: 4px;
			left: 0;
			//			margin-top: -18px/2;
			width: 18px;
			height: 18px;
			border: 2px solid #c8d0dc;
			border-radius: 50%;
			content: '';
		}

		//		background: left top no-repeat url("../img/radio-buttons.png");

		&:hover {
			//			background-position: 0 -26px;

			&:before {
				background-color: #2763bb;

				box-shadow: inset 0 0 0 2px #fff;
			}
		}
	}

	&:checked + label {
		//		background-position: 0 -26px * 2;

		&:before {
			background-color: #2763bb;

			box-shadow: inset 0 0 0 2px #fff;
		}
	}
}