.b-today-schedule {
	margin-top: 25px;
	margin-left: -@grid-gutter-width/2;
	margin-right: -@grid-gutter-width/2;
}

.b-today-schedule__title {
	font-family: @font-family-proxima-nova-bold;
	font-size: 24px;
	color: #142b4d;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.b-today-schedule__title_red {
	color: #ed263a;
}

.b-today-schedule__item {
	margin-bottom: 35px;
	border-radius: 10px;
	//	overflow: hidden;
	border: 1px solid #e3e8f1;
}

/* LIST */
.b-today-schedule__list {
	margin-right: -@grid-gutter-width/2;
	margin-left: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
}

.b-today-schedule__list-item {
	font-weight: bold;
	font-size: 16px;
	color: #1f419b;
	line-height: 67px;
	text-align: center;

	&:nth-child(odd) {
		background-color: #f9fbfc;
	}
	&:nth-child(even) {
		background-color: #f6f8fb;
	}

	&:first-child {
		border-top-left-radius: 10px;
	}
	&:last-child {
		border-bottom-left-radius: 10px;
	}
}

.b-today-schedule__list-item_current {
	color: #fff;
	background-color: #71aef4 !important;
	line-height: 60px;
}

/* TABLE */
.b-today-schedule__table-container {
	margin-left: -@grid-gutter-width/2;
	margin-right: -2px;
	margin-top: -1px;
	margin-bottom: -1px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	position: relative;
}

.b-today-schedule__table {
	margin-bottom: 0;
	overflow: hidden;

	/* Common cells */
	thead > tr > th,
	thead > tr > td,
	tbody > tr > td {
		padding: 11px 0;
		width: 10%;
		height: 67px;
		border: none;
	}

	/* Header */
	thead > tr > th {
		font-size: 15px;
		color: #9aa6cc;
		font-weight: normal;
		height: 60px;
	}

	tbody > tr > td {
		border-left: 1px solid #e3e8f1;
		border-right: 1px solid #e3e8f1;

		&:last-child {
			border-right: 0;
		}
	}

	/* Background */
	tbody > tr:nth-child(odd) > td {
		background-color: #f6f8fb;
	}
	tbody > tr:nth-child(even) > td {
		background-color: #f9fbfc;
	}
}

.b-today-schedule__table-item-container {
	position: relative;
}

.b-today-schedule__table-item {
	height: 45px;
	background-color: #71aef4;
	border-radius: 20px;
	cursor: pointer;

	font-weight: bold;
	font-size: 15px;
	color: #ffffff !important;
	outline: none !important;

	padding: 5px 22px;

	position: absolute;
	top: 0;
	left: 0;
}

.b-today-schedule__table-item_muted {
	background-color: #dce1e8;
}

.b-today-schedule__table-item-title {
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1.2;
	display: block;
}

.b-today-schedule__table-item-description {
	font-weight: 500;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
	display: block;
	line-height: 1.1;
}

.b-today-schedule__now {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	margin-left: -40px;
	height: 100%;
	text-align: center;

	&:after {
		position: absolute;
		top: 54px;
		height: 100%;
		width: 2px;
		background-color: #f00038;
		content: '';
		z-index: 10;
	}

	&:before {
		content: '';
		position: absolute;
		top: 50px;
		width: 8px;
		height: 8px;
		margin-left: -3px;
		border-radius: 50%;
		background-color: #f00038;
		border: 1px solid #ffffff;
		box-shadow: 0 0 0 1px #f00038;
		z-index: 11;
	}
}

.b-today-schedule__now-title {
	color: #9aa6cc;
	margin-bottom: 0;
	margin-top: 3px;
}

.b-today-schedule__now-value {
	font-weight: bold;
	font-size: 26px;
	color: #f00038;
	line-height: .8;
	margin-bottom: 0;
	background: #fff;
	padding-bottom: 8px;
}
