.b-feedback-form {
	margin-top: 25px;
	margin-bottom: 25px;
}

.b-feedback-form__title {
	font-size: 18px;
	color: #2b2b2b;
	line-height: 1.44;
	text-align: center;
	margin-bottom: 35px;
}

.b-feedback-form__form {
	background: #fff;
	border-radius: 8px;
	padding: 40px 30px 50px 50px;

	.control-label {
		padding-top: 11px;
	}

	textarea {
		min-height: 115px;
	}

	h1, h2, h3, h4, h5 {
		color: #1f2a56;
		font-weight: bold;
		margin-bottom: 25px;
	}

	hr {
		margin-left: -50px;
		margin-right: -30px;
		margin-top: 40px;
		margin-bottom: 40px;
		border-top-color: #e7ebf6;
	}
}

.b-feedback-form__radio-button-list {
	label {
		width: 33%;
		display: inline-block;
	}
}

.b-feedback-form__radio-button-list__item-line1 {
	font-size: 19px;
	display: block;
	margin-bottom: 6px;
}

.b-feedback-form__radio-button-list__item-line2 {
	font-weight: 300;
	font-size: 14px;
	display: block;
	line-height: 20px;
	height: 38px;
	margin-bottom: 14px;
}

.b-feedback-form__radio-button-list__item-line3 {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	display: block;
	margin-bottom: 20px;

	strong, b {
		font-weight: bold;
	}
}

.b-feedback-form__button {
	font-size: 20px;
	color: #fff;
	background-color: #337ed3;
	border: none;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 28px;

	&:hover {
		color: #fff;
		background-color: lighten(#337ed3, 5%);
	}
}