@social-icon-size: 29px;

.b-social-links {
	margin: 10px 0;
}

.b-social-links__item {
	width: @social-icon-size;
	height: @social-icon-size;
	float: left;
	margin-right: 13px;
	display: inline-block;

	background-image: url("../img/social-icons.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.b-social-links__item_fb {
	background-position: 0 0;
}

.b-social-links__item_tw {
	background-position: -@social-icon-size 0;
}

.b-social-links__item_instagram {
	background-position: -@social-icon-size*2 0;
}

.b-social-links__item_vk {
	background-position: -@social-icon-size*3 0;
}

.b-social-links_small {
	.b-social-links__item {
		margin-right: 10px;
	}
}