.b-offers-previews {
	margin: 40px -15px;
}

.b-offers-previews__title {
	font-family: @font-family-proxima-nova-bold;
	font-size: 25px;
	color: #f73a4d;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.b-offers-previews__list {
	margin-right: -30px;
}

.b-offers-previews__item {
	display: inline-block;
	float: left;
	width: 570px;
	margin-right: 30px;
	margin-bottom: 30px;
	text-decoration: none;
	position: relative;
	background-color: #337ed3;
	color: #fff;

	&:hover, &:active, &:focus {
		color: #fff;
	}
}

.b-offers-previews__item_big {
	.b-offers-previews__item-title {
		font-size: 27px;
	}
}

.b-offers-previews__item_small {
	padding: 30px 35px 25px;

	.b-offers-previews__item-title {
		font-size: 20px;
	}
}

.b-offers-previews__item_empty {
	background-color: #70a4e0;

	.b-offers-previews__item-title {
		text-transform: none;
		font-family: @font-family-roboto;
		font-weight: 300;
		font-size: 18px;
		line-height: 43px;
		text-align: center;
	}
}

.b-offers-previews__item-image {
	position: relative;
}

.b-offers-previews__item-image_blue {
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';

		background-image: linear-gradient(to top, rgba(18, 62, 161, .9) 0%, rgba(34, 126, 229, 0) 80%);
	}
}

.b-offers-previews__item-image_red {
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';

		background-image: linear-gradient(to top, rgba(242, 18, 50, .9) 0%, rgba(242, 18, 50, 0) 80%);
	}
}

.b-offers-previews__item-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 16px 40px;
}

.b-offers-previews__item-footer_with_icon {
	padding-left: 120px;
}

.b-offers-previews__item-icon {
	position: relative;
	left: -80px;
	top: 30px;
}

.b-offers-previews__item-title {
	font-family: @font-family-proxima-nova-bold;
	line-height: 0.9;
	margin-bottom: 0;
	text-transform: uppercase;
}

.b-offers-previews__item-description {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 0;
}