.b-feedback-comments {
	margin-top: 50px;
	margin-bottom: 15px;

	.media {
		border-top: 1px solid #becce3;
		padding-top: 20px;
		margin-top: 22px;
		padding-bottom: 10px;
	}

	.media-heading {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 18px;

		small {
			color: @text-color;
			margin-right: 10px;
		}
	}

	.media-body {
		font-size: 16px;
		line-height: 22px;
	}

	.media-left {
		width: 90px;
		min-width: 90px;
	}
}